<footer class="site-footer">
  <div>
    <strong>Edson Lopes</strong>
    <p>Confiabilidade · Gestão de Ativos · Dados · Software</p>
  </div>

  <div class="footer-links">
    <a
      href="https://www.linkedin.com/in/franciscoedsonlopessilva"
      target="_blank"
      rel="noreferrer"
    >
      LinkedIn
    </a>
    <a href="mailto:contato@fcoelds.dev.br">E-mail</a>
    <a href="https://github.com/fcoelopes" target="_blank" rel="noreferrer">
      GitHub
    </a>
    <a
      href="http://lattes.cnpq.br/9884528135325302"
      target="_blank"
      rel="noreferrer"
    >
      Lattes
    </a>
  </div>
</footer>
