---
import HeaderLink from "./HeaderLink.astro";
---

<header class="site-header">
  <a class="brand" href="/">
    <span class="brand-mark">EL</span>
    <span class="brand-text">Reliability & Decision Analytics</span>
  </a>

  <nav class="nav">
    <HeaderLink href="/">Início</HeaderLink>
    <HeaderLink href="/projetos">Projetos</HeaderLink>
    <HeaderLink href="/blog">Notas</HeaderLink>
    <HeaderLink href="/curriculo">Currículo</HeaderLink>
    <HeaderLink href="/about">Sobre</HeaderLink>
  </nav>
</header>
